<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/mvc 
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
           http://www.springframework.org/schema/context    
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="appContextHolder" class="ctd.util.AppContextHolder" >
	    <property name="devMode" value="false"></property>
	</bean>

	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	<context:annotation-config />

	<context:component-scan base-package="hai.web.controller,hip.web.controller" />

	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="hip.ftl.ExtFreeMarkerView" />
		<property name="prefix" value="" />
		<property name="suffix" value="" />
		<property name="contentType" value="text/html; charset=UTF-8" />
	</bean>

	<bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/views/" />
		<property name="freemarkerSettings">
			<props>
				<prop key="tag_syntax">auto_detect</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="number_format">0.##</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="template_update_delay">0</prop>
				<prop key="classic_compatible">true</prop>
			</props>
		</property>
	</bean>

</beans>